<h3>Welcome to the main page!</h3>
<h4>Applications</h4>
<ul>
  <li><a href="/phosphorus">Phosphorus Application</a></li>
  <li><a href="/silver">Silver Application</a></li>
  <li><a href="/tungsten">Tungsten Application</a></li>
</ul>
<h4>APIs</h4>
<ul>
  <li><a href="/api/assets">Assets API</a></li>
  <li><a href="/api/employees">Employees API</a></li>
  <li><a href="/api/phosphorus">Phosphorus API</a></li>
  <li><a href="/api/silver">Silver API</a></li>
  <li><a href="/api/tungsten">Tungsten API</a></li>
  <li><a href="/api/users">Users API</a></li>
</ul>
<a href="/logout">Logout</a>